@keyframes FadeInTop {
  from {
    transform: translateY(-5rem);
    opacity: 0;
  }

  to {
    transform: none;
    opacity: 1;
  }
}

@keyframes FadeInBottom {
  from {
    transform: translateY(5rem);
    opacity: 0;
  }

  to {
    transform: none;
    opacity: 1;
  }
}
