* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-style: none;
}

:root {
  font-size: 62.5%;

  --hue: 195;

  --white: white;
  --black: #030b0d;
  --dark-green: #06181c;
  --cyan: hsl(var(--hue), 31%, 42%);
  --blue: hsl(var(--hue), 91%, 25%);
  --dark-bluish-green: hsl(var(--hue), 72%, 13%);
  --page-bg: #000000;
  --gray: #4e5455;
  --red: hsl(355, 91%, 66%);

  --fw-medium: 400;
  --fw-bold: 700;

  --fc-primary: #7c7c8a;
  --fc-titles: #e1e1e6;

  --fs-small: 1.4rem;
  --fs-medium: 1.6rem;
  --fs-big: 2rem;
  --fs-extra-large: 4rem;

  --line-height-small: 1.6rem;
  --line-height-medium: 2.4rem;
  --line-height-big: 3.2rem;
}

body * {
  font-family: 'Roboto', sans-serif;
}

body {
  overflow-x: hidden;

  display: flex;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  background: var(--page-bg);
}

button {
  transition: 200ms;

  cursor: pointer;
}

button:hover {
  transform: scale(1.1);

  filter: brightness(1.1);
}

.sr-only {
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

#app {
  width: min(1120px, 90vw);
  max-width: 122rem;

  padding-block: clamp(12rem, 15vh + 3rem, 18rem);
}

main,
.table-wrapper,
#table tbody {
  width: 100%;
  height: 100%;
}

/* Remove "X" icon from input search */
input[type='search']::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type='search']::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

/* SCROLLBAR */

::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.6rem;
  margin-right: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--cyan);
  border-radius: 10px;
  cursor: move;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border: none;
}
